.estilo1{
    color:red; border: 2px solid black;
}
.estilo2{
    color: gold; border: 2px solid black;
}
.estilo3{
    color: palevioletred; border: 2px solid beige;
}
.estilo4{
    color: red; border: 2px solid black;
}
.estilo5{
    color: brown; border: 2px solid black;
}

    
